---
import Layout from '../../layouts/Layout.astro'
import { QRCodeGenerator } from '../../components/QRCodeGenerator.tsx'
---

<Layout
  seo={{
    title: 'QR Code Generator'
  }}
>
  <main class='mx-auto my-8 max-w-prose px-4 text-stone-300 md:px-0'>
    <a href='/' class='font-light text-stone-300'> &larr; Back to tools list</a>

    <h1 class='mt-2 text-4xl font-semibold text-stone-100'>QR Code Generator</h1>

    <hr class='my-4 border-stone-600' />

    <QRCodeGenerator client:load />
  </main>
</Layout>
